@model ASP.NET_Core_BookStore.Models.Order

@{
    ViewData["Title"] = "DetailsOrder";
}
<br />
<center><h4>Заказ №@Model.Id</h4></center>
<hr />
<p><strong>Номер заказа:</strong>&nbsp;@Model.Id</p>
<p><strong>ФИО:</strong>&nbsp;@Model.FullName</p>
<p><strong>Номер телефона:</strong>&nbsp;@Model.PhoneNumber</p>
<p><strong>Email:</strong>&nbsp;@Model.Email</p>
<p><strong>Город:</strong>&nbsp;@Model.City</p>
<p><strong>Номер отдиления Новой Почты:</strong>&nbsp;@Model.Post</p>
<p><strong>Комментарий к заказу:</strong>&nbsp;@Model.Comment</p>
<p><strong>Дата заказа:</strong>&nbsp;@Model.Date</p>
<p><strong>Заказаные товары:</strong>&nbsp;</p>
@foreach (var item in Model.OrderBooks)
{
   <p>&nbsp;&nbsp;&nbsp;@item.Name,&nbsp;&nbsp;&nbsp;Артикул:&nbsp;@item.CodeBook</p>
}
    
<div>
    <a class="btn btn-dark" asp-controller="Orders" asp-action="GetAllOrders">Назад</a>
</div>
