
@{
    ViewData["Title"] = "ShowNumberOfOrder";
}
<br /><br /><br />
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Спасибо за покупку!!!Ваш заказ №@ViewBag.OrderNumber</h1>
        <p class="lead">Менеджер свяжется с вами в ближайшее время для подтверждения заказа.</p>
    </div>
</div>
