@model IEnumerable<ASP.NET_Core_BookStore.Models.Book>

@{
    ViewData["Title"] = "AllBooks";
}

<center><h3>Все товары</h3></center>
<br />
<div class="row row-cols-1 row-cols-md-3">
    @foreach (var item in Model)
    {
        <div class="col mb-4">
            <div class="card h-100">
                <img src="@item.Img" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p style="font-size:1.5em;" class="card-text">Цена:&nbsp;<strong>@item.Price грн.</strong></p>
                    <a class="btn btn-lg btn-danger" asp-controller="Books" asp-action="DetailsBook" asp-route-id="@item.Id">Купить</a>
                </div>
            </div>
        </div>
    }
</div>

