
@{
    ViewData["Title"] = "Contact";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Books" asp-action="AllFavoriteBooks">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Контакты</li>
    </ol>
</nav>
<h2>Контакты</h2>
<hr />
<pre style="font-size:1.1em;">
Время работы:
Понедельник - Пятница : с 9-00 до 18-00
Суббота : 10-00 - 16-00
Воскресенье - Выходной

- (066) 500-30-10
- (096) 001-23-23
- e-mail:bookstore@gmail.com
</pre>

