
@{
    ViewData["Title"] = "Contact";
}

<br />
<h2>Контакты</h2>
<hr />
<pre style="font-size:1.1em;">
Время работы:
Понедельник - Пятница : с 9-00 до 18-00
Суббота : 10-00 - 16-00
Воскресенье - Выходной

- (066) 500-30-10
- (096) 001-23-23
- e-mail:bookstore@gmail.com
</pre>

