
@{
    ViewData["Title"] = "Delivery";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Books" asp-action="AllFavoriteBooks">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Доставка</li>
    </ol>
</nav>
<h2>Доставка</h2>
<hr />
<pre style="font-size:1.1em;">
Работаем без праздников и выходных! Жители Киева могут получить заказ уже в день его оформления. 
Клиенты из других городов Украины могут получить заказ в течение 1-5 дней в зависимости от местонахождения населенного пункта и выбранного способа доставки. 
Заказы на сумму свыше 1000 грн доставляются бесплатно*. Доступные способы, точные сроки и стоимость доставки Вы можете увидеть во время оформления заказа в 
корзине заказа, после выбора города доставки. 

     *Доставка осуществляется за счет предприятия.


<h4>Доставка "Укрпошта Экспресс" бесплатно от 100 грн Заказы от 100 грн</h4>
   – бесплатно во все отделения "Укрпошта". Заказы до 100 грн 
   – стоимость доставки составляет 30 грн. 

Дополнительно оплачивается комиссия за наложенный платеж в размере 1% от суммы наложенного платежа, но не менее 5 грн. 
Например, сумма до 500 грн – комиссия составляет 5 грн. Если сумма больше 500 грн – то 1% от суммы. Заказ будет доставлен в отделение 
"Укрпошта" в течение 2-5 дней. Для получения отправления необходим паспорт или удостоверение личности. Обратите внимание: заказы отправляются
 на следующий рабочий день после оформления. 

<h4>Курьерская доставка "Укрпошта" (склад - двери)</h4>

Стоимость доставки составляет 35 грн. Дополнительно
 оплачивается комиссия за наложенный платеж в размере 1% от суммы наложенного платежа, но не менее 5 грн. Например, сумма до 500 грн – комиссия 
составляет 5 грн. Если сумма больше 500 грн – то 1% от суммы. Заказ будет доставлен в течение 2-3 дней. Обратите внимание: заказы отправляются 
на следующий рабочий день после оформления. 

<h4>Доставка на склад "Нова пошта"</h4>

Стоимость доставки фиксированная и составляет 40 грн, поэтому дополнительных затрат за пересылку средств не взимается. 
Заказ будет доставлен в пункт самовывоза в течение 1-2 рабочих дней. «Нова пошта» проинформирует SMS-сообщением о том, что заказ ожидает в 
отделении «Нова пошта». Обратите внимание: заказы, оформленные до 16:00, доставляются в отделение «Нова пошта» на следующий рабочий день 
(в отдаленные населенные пункты на 2-3 день). Заказ может бесплатно храниться на складе «Нова пошта» 4 рабочих дня. На 5 день заказ автоматически 
отправляется обратно Отправителю. Для получения отправления необходим паспорт, удостоверение личности или приложение «Нова пошта».


</pre>

