@{
    ViewData["Title"] = "Privacy Policy";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">О нас</li>
    </ol>
</nav>

<h2>Информация про BookStore</h2>
<hr />
<pre style="font-size:1.1em;">
У современного человека остается все меньше времени на чтение книг и еще меньше - на посещение книжных магазинов. Но жизнь невозможна без литературы - художественной, 
обучающей, познавательной. И рано или поздно душа потребует пищи для ума. В такие моменты заглядывайте в книжный интернет магазин «Аконит».

Благодаря удобной систематизации литературы, вы сможете легко купить книгу, которая вам необходима. Книги разделены по категориям: психология, философия, книги по бизнесу, 
научно-популярная литература, детская литература, кулинария, парикмахерское дело и т.д. На главной странице постоянно обновляется список новинок, поэтому вы не пропустите 
ни один бестселлер.
В книжном магазине Киева собрана литература для людей разных возрастов, профессий и вкусов. Детям понадобятся учебники, решебники, атласы, художественные произведения, 
которые входят в школьную программу. Для самых маленький в «Аконите» представлены сказки, детские песенки и стишки, развивающие книжечки. Много полезных пособий в 
интернет магазине книг в Украине найдут бизнесмены и топ-менеджеры.

Преимущества «BookStore»:

Огромный выбор различной литературы.
Возможность купить книги в один клик.
Быстрая доставка: в тот же день по Киеву и 1-2 дня в другие города Украины.
Постоянное обновление ассортимента.
Квалифицированные менеджеры, которые помогут купить книгу в Украине.
Бесплатная доставка при покупке от 750 грн.
Возможность выбрать удобного перевозчика и оптимальный способ оплаты.

КАК РАБОТАЕТ КНИЖНЫЙ МАГАЗИН «Bookstore»
Чтобы купить книгу, воспользуйтесь рубрикацией и фильтрами. Ознакомьтесь с описанием, выберите количество - и совершите покупку, оставив свои контактные данные. 
Также вам нужно будет определиться с подходящим вариантом доставки и оплаты. Если товара нет в наличии – оставьте заявку и менеджеры сообщат вам, когда книга появится.
Книжный интернет магазин работает без выходных с 9:00 до 21:00. Пользуясь возможностями «BookStore», вам не придется стоять в очереди, обходить множество магазинов в поисках 
нужной литературы. Интернет магазин книг - это современное решение для людей, которые дорожат своим временем!
</pre>

